#answer {
    float: left;
    width: 1340px;
    height:100px;
    background-color: aqua;
    font-size: 50px;
    border: 10px;
    border-color: red;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center
}
